# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env # For environment variables like API keys
*egg-info/
.pytest_cache/

# Data
data/*.csv # If large or sensitive data is generated/downloaded directly
data/*.json
data/*.sqlite # Database file
data/*.db

# ML Models
models/*.pkl
models/*.h5
models/*.joblib

# Jupyter Notebooks
.ipynb_checkpoints/

# Web App specifics
node_modules/ # If using Node.js/React frontend
build/ # React build output

# IDE specific
.vscode/
.idea/
